<div class="home-callout text-center container-fluid">
  <h1>!!!Unicorn is GOrge0u$!!!</h1>
  <h3>A membership site where Unicorn lovers can meet!</h3>
</div>

<div class="container home-signup-links">
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Basic Membership</h2>
        <h4>Sign up for free and get basic access to the Unicorn marvelous community</h4>
        <br/>
        <%= link_to "Sign Up with Basic Star", p, class: "btn btn-primary btn-lg btn-block" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Pro Membership</h2>
        <h4>Sign up with a Pro account to get even more candytent from our marvelous community and get our members contacts! WOW!</h4>
        <br/>
        <%= link_to "Sign Up with a Pro Star", p, class: "btn btn-success btn-lg btn-block" %>
      </div>
    </div>
  </div>  
</div>